
.documentation_view_middle{
 // position:relative;
  height:100%;
}

.documentation_view_middle_view{
  position:absolute;
  overflow:hidden;
  padding:4px 4px 4px 0px;
  right:0px;
  bottom:0px;
  left:0px;
  top:0px;
}

.documentation_view_middle_view_with_sidebar{
  left:218px;
}

.documentation_view_middle_view_with_toolbar{
  top:36px;
}
