
td.license_permissive {
  background-color:MediumSeaGreen;
}

td.license_unlicense {
  background-color:LightGreen;
}

td.license_unknown {
  background-color:Black;
  color:White;
}

td.license_weakly_protective {
  background-color:Yellow;
}

td.license_copyright {
  background-color:Red;
  color:White;
}



rect.license_permissive {
  fill:MediumSeaGreen;
}

rect.license_unlicense {
  fill:LightGreen;
}

rect.license_unknown {
  fill:Black;
  color:White;
}

rect.license_weakly_protective {
  fill:Yellow;
}

rect.license_copyright {
  fill:Red;
  color:White;
}


th.login_dependecies_version{
  background-color:aliceblue;
}

td.login_dependecies_differ{
  background-color:Red;
  color:White;
}

div.login_dependecies_readme{
  margin:40px 80px;
}

td.dependecies_package_json{
  background-color:Azure;
}

td.dependecies_package_json_git{
  background-color:AntiqueWhite;
}

span.analyze_dependency,
span.analyze_dependency_animation,
span.analyze_dependency_hide{
  border:1px solid #337ab7;
  padding:0px 4px;
  margin-left:4px;
  margin-right:4px;
  border-radius:2px;
  background-color:honeydew;
  font-size:18px;
  position:absolute;
  width:max-content;
  top:-13.5px;
}

span.analyze_dependency{
  color:#337ab7;;
}

span.analyze_dependency_hide{
  color:honeydew;
}

span.analyze_dependency_animation{
  color:honeydew;
  animation:dependencyMove 2s infinite;
  animation-timing-function:linear;
  width:40px;
  height:27px;
  background-color:#337ab7;
}

@keyframes dependencyMove {
  0% {left: 0px;}
  50% {left: 240px;}
  100% {left: 0px;}
}
