.middle_login_toolbar{

}

div.middle_login_toolbar_component {
  padding-left:6px;
}

label.middle_login_toolbar_component {
  padding-right:4px;
}

div.login_tabs {
  position:absolute;
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.test_machine_os_networks{
  margin:12px;
  width:auto;
  border:2px DarkGray solid;
  border-radius:5px;
  float:left;
}

div.test_machine_os_network_name{
  font-weight:bold;
  padding:2px 4px;
  border-bottom:2px Black solid;
}

div.test_machine_os_network_interface{
  padding:2px 4px;
  border-bottom:2px DarkGray solid;
}

div.test_machine_cpus{
  margin:12px;
  width:auto;
  border:2px DarkGray solid;
  border-radius:5px;
  float:left;
}


circle.outer_address{
  stroke:black;
  stroke-width:1;
}

rect.static_outer_address{
  fill:grey;
  stroke:black;
  stroke-width:2;
}

rect.dynamic_outer_address{
  fill:white;
  stroke:black;
  stroke-width:1.99;
}

circle.static_address_success{
  fill:green;
  stroke:grey;
  stroke-width:2;
}

circle.static_address_external{
  fill:orange;
  stroke:grey;
  stroke-width:2;
}

circle.static_address_reduced{
  fill:yellow;
  stroke:grey;
  stroke-width:2;
}

circle.static_address_failure{
  fill:red;
  stroke:grey;
  stroke-width:2;
}

circle.static_address_multicast{
  fill:Blue;
  stroke:grey;
  stroke-width:2;
}

rect.address_success{
  fill:green;
  stroke:green;
  stroke-width:2;
}

rect.address_external{
  fill:orange;
  stroke:orange;
  stroke-width:2;
}

rect.address_reduced{
  fill:yellow;
  stroke:yellow;
  stroke-width:2;
}

rect.address_failure{
  fill:red;
  stroke:red;
  stroke-width:2;
}

circle.dynamic_address_success{
  fill:green;
  stroke:White;
  stroke-width:2;
}

circle.dynamic_address_reduced{
  fill:yellow;
  stroke:White;
  stroke-width:2;
}

circle.dynamic_address_failure{
  fill:red;
  stroke:White;
  stroke-width:2;
}

circle.dynamic_address_external{
  fill:orange;
  stroke:White;
  stroke-width:2;
}

circle.dynamic_address_multicast{
  fill:Blue;
  stroke:White;
  stroke-width:2;
}

rect.ping_success,
circle.ping_success {
  fill:LightGreen;
  stroke:SlateGray;
}

rect.ping_failure,
circle.ping_failure {
  fill:Crimson;
  stroke:SlateGray;
}

rect.ping_undefined,
circle.ping_undefined {
  fill:LightYellow;
  stroke:SlateGray;
}

rect.ping_none,
circle.ping_none {
  display:none;
}

td.login_valid_success,
strong.login_valid_success{
  color:Green;
}

td.login_valid_failure,
strong.login_valid_failure{
  color:Red;
}
