
.seq_dia_unknown{
  stroke:#666;
}

.seq_dia_socket{
  stroke:#00BFFF;
}

.seq_dia_web_socket{
  stroke:Cyan;
}

.seq_dia_http{
  stroke:#90EE90;
}

.seq_dia_diameter{
  stroke:#F08080;
}

.seq_dia_sql{
  stroke:#8A2BE2;
}

rect.node_diagram_square{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;
}

polygon.node_diagram_star{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;
}

svg.markup_node{
  background-color:#fcfcfc;
  border:1px solid #ccc;
}

rect.node_diagram_group{
  stroke-width:2px;
  fill:transparent;
  stroke:Gainsboro;
}

line.markup_node_diagram_line_unknown_unknown {
  stroke: rgb(102, 102, 102);
}